/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */



/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

@font-face {
	font-family: 'ChanticleerRomanRegular';
	src: url('CHANTICL-webfont.eot#') format('embedded-opentype'),
			 url('CHANTICL-webfont.woff') format('woff'), 
			 url('CHANTICL-webfont.ttf') format('truetype'), 
			 url('CHANTICL-webfont.svg#webfontjh1SaWd8') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GoodDogRegular';
	src: url('GoodDog-webfont.eot#') format('embedded-opentype'),
	 		 url('GoodDog-webfont.woff') format('woff'), 
	     url('GoodDog-webfont.ttf') format('truetype'), 
			 url('GoodDog-webfont.svg#webfontVFGOXOjp') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
font-size: 1em;
line-height: 1.4;
background: #D7B693 url(../images/29bg.jpg) repeat;
color: #000;
}
.wf-loading body{
	visibility:hidden;
}	
.wf-inactive body{
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;	
	visibility:visible;
}
.wf-active body{
	font-family: 'ChanticleerRomanRegular';	
	visibility:visible;
}
/* layout */

#wrapper {
width: 940px;
margin: 0 auto;
margin-top: 5px;
margin-bottom: 5px;
background: #D7B693 url(../images/31bg.jpg) repeat;
-webkit-box-shadow: 3px 3px 7px #444;
-moz-box-shadow: 3px 3px 7px #444;
}

nav{
width: 940px;
height: 50px;
margin: 0 auto;
display:block;
font-size: 0.75em;
font-weight: bold;
font-family:Helvetica, Verdana, Arial, sans-serif;
background: #684c45 url(../images/nav-bg.png) repeat-x top;
background: -webkit-gradient(linear, left top, left bottom, from(#684C45), to(#222));
/* For Mozilla/Gecko (Firefox etc) */
background: -moz-linear-gradient(top, #684C45, #222);
}
.ie7 nav, .ie8 nav{
/* For Internet Explorer 5.5 - 7 */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#684C45, endColorstr=#222222);*/
/* For Internet Explorer 8 */
/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#684C45, endColorstr=#222222)";*/
background: #684C45
}

nav ul{
	position:relative;
	width:75%;
	list-style: none;
	margin: 0;
	float:right;
	right:-4%;
}
.ie7 nav ul{
	margin-top:13px;
}
nav ul li {
display: inline;
list-style:none;
text-align: right;
margin-top:10px;
}
.ie7 nav ul li a img{
	height:12px;
	padding-top:0;
}
.ie7 nav ul li{
	margin-top:10px;
}
.ie7 nav ul li a{
	margin-top:10px;
	background: transparent url("../images/gradient-bg.png") repeat-x top;
}
nav ul li a {
	position:relative;
	top:4px;
	margin-right: 3px;
	text-decoration: none;
	text-align:center;
	color:#FFF;
	text-shadow:1px 1px 1px #222;
	height:33px;
	padding:7px 10px 7px 17px;
	border-top: 1px solid #836882;
	border-bottom: 1px solid #5C495B;
	-webkit-box-shadow: 0 1px 2px #222;
	-moz-box-shadow: 0 1px 2px #222;
	box-shadow: 0 1px 2px #222;
  -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: transparent url("../images/gradient-bg.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
 /* Recent browsers */
	background-image: -moz-linear-gradient(top, #937592, #4C3C4B);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#937592), to(#4C3C4B));
	/* For Internet Explorer 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#937592, EndColorStr=#4C3C4B);
	/* For Internet Explorer 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#937592, endColorstr=#4C3C4B)";
  opacity:0.8;
}
nav a:link, nav a:visited{
	color:#F3F3F3;
}
nav ul li a:hover, nav ul li a:focus{
  opacity:1;
	outline:none;
	color:#F3F3F3;
	border-top: 1px solid #E3B4E1;
}
nav ul li a:active, nav ul li a.selected{
	color:#F3F3F3;
	border-top: 1px solid #5C495B;
	opacity:1;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow: 0 1px 2px #222;
	background: transparent url("../images/gradient-bg-selected.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
 /* Recent browsers */
	background-image: -moz-linear-gradient(top, #4C3C4B, #937592);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4C3C4B), to(#937592));
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C3C4B, endColorstr=#937592);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C3C4B, endColorstr=#937592)";
	outline:none;
}
/* list nav styles used in top nav*/
ul li a.home img{
	position:relative;
	top:6px;
	left:-6px;
	overflow:hidden;
}
ul li a.food img{
	position:relative;
	top:9px;
	left:-6px;
}
ul li a.wine img{
	position:relative;
	top:8px;
	left:-7px;
}
ul li a.reservations img{
	position:relative;
	top:9px;
	left:-7px;
}
ul li a.feedback img{
	position:relative;
	top:5px;
	left:-6px;
}
ul li a.contact img{
	position:relative;
	top:5px;
	left:-7px;
}
.ie7 ul li a img{
	top:3px;
}
/*Side Nav*/
nav#sidenav{
	width:220px;
	height:auto;
	background:transparent;
	margin-left:-29px;
	margin-top:-20px;
	font: bold 0.9em/1.4 Helvetica, Verdana, Arial, sans-serif;
	overflow:visible;
}
.ie7 nav#sidenav{
	background:transparent;
}
nav#sidenav ul{
	width:220px;
	margin:0 0 15px 0;
	list-style:none;
	text-align:left;
	position:relative;
}
/*.ie7 nav#sidenav, .ie7 nav#sidenav ul{
	right:500px;
}
*/
nav#sidenav ul li{
	list-style:none;
	width:220px;
	margin:0;
/*	z-index:5;*/
}
/*div#sidenav ul li.current{
	position:absolute;
	width:275px;
	height:40px;
	display:block;
	background:url(images/overlay.png) no-repeat top left;
	top:-1px;
	left:-5px;
	z-index:1;
	opacity:0.65;
}	
*/
nav#sidenav ul li a {
	width:210px;
	display:block;
	text-decoration: none;
	text-align:left;
	color:#fff;
	text-shadow:1px 1px 1px #222;
	height:22px;
	padding:7px 0 7px 30px;
	border: 1px solid #444;
	background: #684c45 url(../images/gradient-bg-side.png) repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
 /* Recent browsers */
	background-image: -moz-linear-gradient(top, #684c45, #222);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#684c45), to(#222));
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#684c45, endColorstr=#222222);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#684c45, endColorstr=#222222)";
  opacity:0.8;
	z-index:5;
}
nav#sidenav a:link{
	color:#F3F3F3;
}
nav#sidenav ul li a:hover{
	color:#F3F3F3;
	opacity:1;
}
nav#sidenav ul li a:active, nav#sidenav ul li a.selected{
	color:#FFF;
	border-top: 1px solid #661E1F;
	opacity:1;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow: 0 1px 2px #222;
	background: #684C45 url("../images/gradient-bg-selected-side.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
 /* Recent browsers */
	background-image: -moz-linear-gradient(top, #872C2B, #BD383A);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#872C2B), to(#BD383A));
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#872C2B, endColorstr=#BD383A);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#872C2B, endColorstr=#BD383A)";
}
/* list nav styles used in side nav*/
nav#sidenav ul li a img{
	vertical-align:middle;
	margin-right:2%;
}
nav#sidenav ul li a img{
	padding-right:25px;
}
span.icon{
	display:inline-block;
	width:50px;
	min-height:25px;
	float:left;
	clear:left;
}
img.home{
	display:block;
	min-width:22px;
	margin:0 auto;
}
img.food{
	display:block;
	min-width:18px;
	margin:0 auto;
}
img.wine{
	display:block;
	min-width:14px;
	margin:0 auto;
}
img.clock{
	display:block;
	min-width:25px;
	margin:0 auto;
	padding-left:4px;
}
img.checkbox{
	display:block;
	min-width:18px;
	margin:0 auto;
}
img.megaphone{
	display:inline-block;
	min-width:24px;
	margin:0 auto;
}

#main{
	width: 940px;
	margin: 0 auto;
	padding-top: 30px;
	background: #D7B693 url(../images/31bg.jpg) repeat;
	overflow: hidden;
}

#content{
	float: right;
	width: 640px;
	margin-right: 30px;
	position:relative;
}
#splash{
	width:612px;
	height:792px;
	display:block;
	position:fixed;
	left:50%;
  margin-left:-306px;
	top:50%;
	margin-top:-396px;
	z-index:9999;
}
#sidebar{
float: left;
padding-left: 20px;
width: 220px;
}
h2#hours{
	text-align:center;
	border-bottom:3px dotted #684C45;
	margin-left:-15px;
}
footer{
width: 940px;
margin: 0 auto;
clear: both;
text-align:center;
padding-top:5px;
font-size:80%;
}

/* basics */

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #5a2619;
}

a:link, a:visited {
color:#684c45;
}

a:hover, a:active {
color: #56737C;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
}
/* nav */

/** HEADER */
header {
width: 940px;
height: 200px;
margin: 0 auto;
background: transparent url(../images/header.png) no-repeat;
border-bottom:4px solid #798334;
}
header p.txtCenter span{
	display:block;
	padding:5px;
}
header .vcard .addr abbr{
	border: 0;
}
header h1 {
line-height: normal;
text-align: center;
font-size: 4em;
}
header h1 a{
	position:relative;
	top:0.25em;
	left:1em;
	text-shadow:#5C495B 2px -2px 2px;
}

header h1 p{
	text-align:center;
}
header div.vcard{
	position:relative;
	top:0;
	left:4em;
	text-align: center;
	margin:0 0 1em;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
header h1 a:link, header h1 a:visited {
text-decoration: none;
}
span.number-raise{
	vertical-align:3px;
}
span.zip-nbr-raise{
	vertical-align:1px;
}
div.country-name{
	display:none;
}
span.type{
	display:none;
}

/** ARTICLES **/

img.box-shadow {
border: none;
-webkit-box-shadow: 3px 3px 7px #444;
-moz-box-shadow: 3px 3px 7px #444;
box-shadow: 3px 3px 7px #444;
}

#content p, ul, ol, hr {
margin-bottom: 24px;
}

#content ul ul, ol ol, ul ol, ol ul {
margin-bottom: 0;
}

#content h1, h2, h3, h4, h5, h6 {
color: #5a2619;
margin: 0 0 20px 0;
line-height: 1.5em;
}
#main h1{
	text-align:center;
	text-transform: uppercase;
	letter-spacing:0.25em;
	border-bottom: 7px double #5C495B;
}
.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 15px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 10px;
}
.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

/* sidebar and footer widget blocks */

#sidebar {
border-right: medium dotted #684C45;
background:transparent;
}

aside h3 {
font-size: 18px;
text-align:center;
}

aside ul {
list-style: none;
margin-bottom: 20px;
margin-top: -15px;
text-align:center;
}
aside ul#social{
	width:74px;
	margin:0 auto;
	position:relative;
}
aside ul#social li{
	width:32px;
	float:left;
}
aside ul#social li a{
	width:32px;
	display:inline-block;
	float:left;
}

/*#footer-area {
background: #684c45;
color: #FFF;
font-size: 90%;
padding: 18px 0;
overflow: hidden;
width:940px;
margin:0 auto;
}

.footer-segment {
float: left;
margin-right: 20px;
margin-left: 20px;
width: 190px;
}

footer aside h4 {
color: #EBDBCB;
font-size: 16px;
line-height: 1.5em;
text-align:center;
}
footer a:link, footer a:visited {
color: #EBDBCB;
text-align:center;
text-decoration:none;
}
footer section#footer-outer-block aside.footer-segment p.designby{
	text-align:center;
}
footer a:hover {
color: #D0DDE1;
}

footer p {
margin-top: -15px;
}*/

div.clear{
	clear:both;
}
/* FORM */
form{
	width:650px;
	font-size:75%;
}
fieldset{
	margin:5px 0;
	position:relative;
}
label{
	text-transform:uppercase;
	letter-spacing:0.1em;
	position:relative;
	top:15px;
}
label.ratings{
	margin-right:120px;
}
#msgLabel{
	text-align:center;
	position:relative;
	left:46%;
}
fieldset.message{
	margin-top:20px;
}
#msgLabel{
	padding:4px 0;
	text-align:left;
	margin-left:-320px;
}
textarea{
	background:transparent;
	border:none;
	width:95%;
}
#food, #drinks, #service, #music, #value, #atmosphere{
	clear:right;
	float:right;
	margin-right:50px;
}
.input{
	float:right;
	background:transparent;
	width:55%;
	border:none;
	border-bottom: 2px dashed #952225;
}
.wf-loading .input, .wf-loading textarea{
	visibility:hidden;
}
.wf-inactive .input, .wf-inactive textarea{
	font:1.5em Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
.wf-active .input, .wf-active textarea{
	font:2em GoodDogRegular;
}
.input-error{
	border: 2px solid #952225;
}
#send{
	width:670px;
	height:100px;
	background:url(images/Submit.png);
	border:none;
	margin-left:-25px;
	cursor:pointer;
}
#send:hover{
	background:url(images/Submit.png) 670px;
}
#send::-moz-focus-inner{
	border:0;
}
#send:focus{
	outline:none;
}
/* jQuery UI style mods */
div.ui-state-error.ui-corner-all{
	position:relative;
	padding:0.7em 0.5em;
	display:inline-block;
	font-size:1em;
}
span.ui-icon.ui-icon-alert{
	float:left;
	margin-right:0.3em;
}
.errMsg{
	position:relative;
	top:20px;
	right:10px;
}
div#message{
	position:relative;
}
#form-message{
	font-family:GoodDogRegular;
	font-size:1.4em;
	position:relative;
	top:-150px;
	left:-87px;
	width:200px;
	height:100px;
	margin:0 auto;
	text-align:center;
	line-height:100px;
	background-color:#FFF;
	border:8px solid #666;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	-webkit-box-shadow:2px 2px 4px #888;
	-moz-box-shadow:2px 2px 4px #888;
	box-shadow:2px 2px 4px #888;
	behavior: url(PIE.htc); 	
}
#form-message:before{
	content: ' ';
	position:absolute;
	width:0;
	height:0;
	left:30px;
	top:100px;
	border:25px solid;
	border-color: #666 transparent transparent #666;
}
#form-message:after{
	content:' ';
	position:absolute;
	width:0;
	height:0;
	left:38px;
	top:100px;
	border:15px solid;
	border-color:#fff transparent transparent #FFF;
}
#rooster{
	position:absolute;
	top:-20px;
	left:0;
}
.dlink img{
	border:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-right:0.3em;
}

/*side menu*/
#info{   
clear: both;
margin: 0;
padding: 0;
width:150px;  
font-size: 1em;
}
#info a{
text-decoration: none;
color:#f2f2f2;
}

#info a:hover{
text-decoration: none;
color:#fff;
}
.content {
color:gold;
background:#322724;
opacity:0.5;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px; 
border-top-right-radius:20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
border-bottom-left-radius:20px;
margin: 30px 0 50px;
padding: 15px 0; 
}
.ie7 .content, .ie8 .content{
	border-radius:0 20px 0 20px;
	behavior: url(PIE.htc); 	
}
.content p {
margin: 10px 0;
padding: 15px 20px;  
}

.panel {
position: fixed;
top: 0px;
left: 0;
display: none;
background: #CDA47D;
border:1px solid #322724; 
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px; 
border-top-right-radius:20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
border-bottom-right-radius:20px;
width:350px;
height: auto;
padding: 30px 30px 30px 130px;
opacity: .85;
filter: alpha(opacity=85);
z-index:5;
}
.ie7 .panel, .ie8 .panel{
	border-radius:0 20px 20px 0;
	behavior:url(PIE.htc);
}
.panel p{
margin: 0 0 15px 0;
padding: 0;
color: #4A342F;
font-size:1.6em; 
font-weight:bold;       
line-height:1.2;
}

.panel a, .panel a:visited{
margin: 0 auto;
padding: 0;
line-height:2; 
height:32px;
width:32px;
}

.panel .columns a:hover, .panel .columns a:visited:hover{
margin: 0;
padding: 0;
line-height:2;    
}

a.trigger{
position: fixed;
top: 80px; left: 0;
font-size: 16px;
color:#fff;
/*padding: 20px 40px 20px 15px;*/
padding:10px;
font-weight: 700;
/*background:#5C495B url(../images/plus.png) 85% 50% no-repeat;*/
background:#5C495B;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
display: block; 
width:65px; 
outline:none;
z-index:10;
}
/*.ie7 a.trigger, .ie8 a.trigger{
		border-radius:0 20px 20px 0;
		behavior:url(PIE.htc);
}
*/
a.trigger:hover{
padding: 10px 15px 10px 10px;
font-weight: 700;
/*background:#5C495B url(../images/plus.png) 85% 50% no-repeat;*/
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
display: block;
}

a.active.trigger { 
/*background:#5C495B url(../images/minus.png) 85% 50% no-repeat;*/
background:#5C495B;
}

p#vtip { 
	display: none; 
	position: absolute; 
	padding: 7px; 
	left: 7px; 
	font-size: 1em; 
	background-color: #493848; 
	border: 1px solid #CDA57B;
	color:#CDA57B; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius:5px;
	z-index: 9999; 
}


